/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #555555;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.contact-form-input,
.contact-form-message, .modal-form-input,
.modal-form-message {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  /* margin-bottom: 44px; */
  color: #fff;
}

.contact-form-label, .modal-form-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.modal-btn,
.contact-form-btn,
.modal-form-button {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms linear, color 250ms linear;
}

.modal-btn:hover, .modal-btn:focus,
.contact-form-btn:hover,
.contact-form-btn:focus,
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.modal-form-button {
  color: #303030;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #555555;
  cursor: pointer;
  transition: color 250ms linear, border-color 250ms linear;
}

.modal-close-button:hover, .modal-close-button:focus {
  color: #ff6c00;
  border-color: #ff6c00;
}

/* CONTACT-FORM */
.contact-form-section {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.contact-form-section-wrapper {
  width: 560px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form-fild {
  position: relative;
  margin-bottom: 44px;
}

.contact-form-label {
  position: absolute;
  left: 0;
  top: 0;
}

.contact-form-message::placeholder {
  text-transform: uppercase;
}

.contact-form-input:focus,
.contact-form-message:focus {
  outline: none;
  border-bottom-color: #fff;
}

.contact-form-message:focus::placeholder {
  color: #fff;
}

.contact-form-input:not(:placeholder-shown),
.contact-form-message:not(:placeholder-shown) {
  border-bottom-color: #fff;
}

.contact-form-input {
  width: 260px;
  height: 24px;
}

.contact-form-input:focus + .contact-form-label,
.contact-form-input:not(:placeholder-shown) + .contact-form-label {
  transform: translateY(-30px);
  color: #fff;
}

.contact-form-message {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

/* CONTACT */
.contact-wrapper {
  display: flex;
  background-color: #191c26;
}

.contact-wrapper > section {
  flex-basis: 50%;
}

/* .contact-form {
    background-color: #191c26;
  } */
.contact {
  padding-left: 100px;
  /* background-color: #090b13; */
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
}

.contact-info {
  width: 270px;
}

.contact .title,
.contact-form-section .title {
  margin-bottom: 40px;
  color: var(--title-dark-theme-color);
}

.contact .subtitle {
  color: var(--title-dark-theme-color);
}

.contact .subtitle::before {
  background-color: var(--title-dark-theme-color);
}

.contact-list {
  margin-bottom: 70px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.contact-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.contact-item-svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.map-pin {
  width: 30px;
  height: 30px;
  align-self: flex-start;
  margin-top: 6px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-form {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px;
}

.modal-form-title {
  margin-bottom: 30px;
}

.modal-form-input,
.modal-form-message {
  display: block;
  width: 100%;
  color: #303030;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
}

.modal-form-input {
  height: 30px;
}

.modal-form-input:focus, .modal-form-input:not(:placeholder-shown) {
  border-bottom-color: #ff6c00;
}

.modal-form-message {
  margin-bottom: 40px;
  height: 60px;
  resize: none;
}

.modal-form-message:focus, .modal-form-message:not(:placeholder-shown) {
  border-bottom-color: #ff6c00;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-30px);
  color: #ff6c00;
}

.madal-form-checkbox-lable {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.modal-form-span {
  font-size: 12px;
}

.modal-form-span a {
  color: #3498db;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid #555555;
  margin-right: 10px;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: #ff6c00;
  border: 3px solid #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */