.about-us {
  .title {
    margin-bottom: 20px;
  }

  .description {
    color: $text-light-theme-color;
    margin-bottom: 20px;
  }
}

.text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $text-light-theme-color;
}

.about-us-list {
  @extend %list;
}

@media screen and (max-width: 767px) {
  .about-us-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    br {
      display: none;
    }

    .container {
      display: flex;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-list {
    margin-right: 30px;

    li:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about-us-list {
    display: flex;
    margin-right: 64px;

    li:not(:last-child) {
      margin-right: 30px;
    }
  }
}
