.header {
  position: absolute;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation-list {
  @extend %list;

  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
  z-index: 1;
}

.header-utils {
  display: flex;
  align-items: center;

  .address {
    margin-right: 40px;
  }
}

.navigation-list-link {
  @extend %link;
  @extend %font-header;

  padding-top: 52px;
  padding-bottom: 52px;
}

.header-tel {
  @extend %link;
  @extend %font-header;

  text-transform: uppercase;
}
