.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.title {
  font-family: $secondary-font;

  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: $title-light-theme-color;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
  }
}

.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $title-light-theme-color;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: $title-light-theme-color;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: $text-dark-theme-color;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.social-links {
  @extend %list;

  display: flex;
  align-items: center;

  &::before {
    margin-right: 40px;
    content: '';
    width: 60px;
    height: 1px;
    background-color: $title-light-theme-color;
  }
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  @extend %link;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: $title-light-theme-color;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
