%form-input {
  font-family: $main-font;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  /* margin-bottom: 44px; */
  color: #fff;
}

%form-label {
  font-family: $main-font;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: transform 250ms linear;
}
