%link {
  text-decoration: none;
  display: block;
}

%list {
  list-style: none;
}

%form-input {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  /* margin-bottom: 44px; */
  color: #fff;

  &:focus {
    outline: none;
  }
}

%form-input-contact {
  &:focus {
    border-bottom-color: #fff;
  }

  &:not(:placeholder-shown) {
    border-bottom-color: #fff;
  }
}

%form-input-modal {
  display: block;
  width: 100%;
  color: $title-light-theme-color;

  &:focus,
  &:not(:placeholder-shown) {
    border-bottom-color: $accent-color;
  }
}

%form-label {
  font-family: $main-font;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: transform 250ms linear;
}
